<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<div>
    <ul>
        {% for i in book %}
            <li>
                <h2>  {{ i.name }} </h2>
                <h2>{{ i.author }}</h2>

                <p> {{ i.description }} </p>

                <img src="{{ i.image.url }}" alt="">
                <br><br>
                created date: <h2>{{ i.release_date }}</h2>
                updated date: <h2>{{ i.update_date }}</h2>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>