<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book</title>
</head>
<body>
<div>
    <div class="container button__container">
        <a href="/book/" class="btn btn-primary">Books</a>
    </div>
    <h2><a href="/books/{{ book.id }}/">{{ book.name }}</a></h2>
    <p>{{ book.author }}</p>
    <p>{{ book.description }}</p>
    <img src="{{ book.image.url }}" alt="">
    <p>{{ book.release_date }}</p>
    <p>{{ book.update_date }}</p>
    <p>{{ book.nameEX }}</p>
    <p>{{ book.education }}</p>
    <p>{{ book.project }}</p>
    <p>{{ book.expert }}</p>
    <div class="card-body body__button">
        <button type="button" class="btn btn-primary"><a href="/books/{{ book.id }}/update/">*Изменить* {{ book.name }}</a></button>
        <button type="button" class="btn btn-primary"><a href="/books/{{ book.id }}/delete/">*Удалить*</a></button>
    </div>
</div>
</body>
</html>