<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<div>
    <div class="container button__container">
        <a href="/shows/" class="btn btn-primary">Shows</a>
    </div>
    <h2><a href="/shows/{{ object.id }}/">{{ object.title }}</a></h2>
    <p>{{ object.description }}</p>
    <img src="{{ object.image.url }}" alt="">
    <p>{{ object.quantity }}</p>
    <p>{{ object.genre }}</p>
    <p>{{ object.date_filmed }}</p>
    <div>
        <h2>Коментрии: </h2>
        <ul>
            {% for i in show_comment.all %}
            <li>
                <p>{{ i.text }}</p>
                <p>{{ i.created_date }}</p>
            </li>
            {% endfor %}
        </ul>

    </div>
    <div class="card-body body__button">
        <button type="button" class="btn btn-primary"><a href="/shows/{{ object.id }}/update/">Change {{ objectg.title }}</a></button>
        <button type="button" class="btn btn-primary"><a href="/shows/{{ object.id }}/delete/">Delete</a></button>
    </div>
</div>
</body>
</html>